aiofiles==0.6.0
ajsonrpc==1.1.0
bottle==0.12.19
certifi==2021.5.30
charset-normalizer==2.0.4
click==7.1.2
colorama==0.4.4
h11==0.12.0
idna==3.2
ifaddr==0.1.7
marshmallow==3.13.0
platformio==5.1.1
pyelftools==0.27
pyserial==3.5
requests==2.26.0
semantic-version==2.8.5
starlette==0.14.2
tabulate==0.8.9
urllib3==1.26.6
uvicorn==0.13.4
wsproto==1.0.0
zeroconf==0.28.8
