Model/

# Tediously include only what is necessary to keep image size down
!Model/Cubesat_6U.obj
!Model/42.mtl
!Model/NASA_LOGO.ppm
!Model/BlairSolarCell.ppm
!Model/GlastLogo.ppm
!Model/ErosColor.ppm
!Model/ErosBump.ppm
!Model/Point.obj
!Model/Rgn_Terrain.obj
!Model/Constellations.txt
!Model/SolFlx0908_Schatten.txt
!Model/igrf00.txt


World/
build/
Docs/
RvB*
cFS*
Tx/
Rx/
Screenshots/
Standalone/
rvb_earth/
Demo/
sim_results*
Development/
Potato/
Database*
**/*.42